.back{

    background-image: url('admin/images/Opacity.png');
    background-repeat: no-repeat;
    background-size:cover;
    /* width: 100%; */

 }
.image{
    width:20%;
    height: 17%;
    padding-left:0.7%;
}
.blank{
    width:65%;
}
.table{
    padding-top:10px;
    padding-bottom:8px;
}
.text{
   
    color:#B8860B;
    font-size:16px;
    padding-bottom:0.5%;
    border-bottom: 4px solid #FFD700;
}
.t{
    width:65%;
}
/* .n{
    width: 20%;
} */
.title1{
    font-size:16px;
    color:#B8860B;
    padding-bottom:0.5%;
    padding-left:19.3%;
}
.title2{
    font-size:16px;
    color:#B8860B;
    padding-left:17%;
    padding-bottom:0.5%;
}

.title3{
    font-size:16px;
    color:#B8860B;
    padding-left:33%;
    padding-bottom:0.8%;
}
.certificate1{
    font-size :15px;
    font-weight: bold;
    color:#000080;
    padding-left:3.8%;
    padding-bottom:0.5%;
}
.certificate2{
    font-size :15px;
    font-weight: bold;
    color:#000080;
    padding-left:3.8%;
    padding-bottom:0.8%;
}

.pro{
    font-size :15px;
    color:#000080;
    padding-left:17%;
    padding-bottom:0.5%;
}
.pro1{
    padding-top:0.5%;
    font-size :14px;
    color:#000080;
    padding-left:19.3%;
    padding-bottom:0.5%;
}
.pro2{
    font-size :14px;
    color:#000080;
    padding-left:22%;
    padding-bottom:0.5%;
}
.pro3{
    font-size :14px;
    color:#000080;
    padding-left:27%;
    padding-bottom:5.3%;
}
.foot{
    font-size :12px;
    color:#191970;
    padding-left:40%;
    padding-bottom:0.6%;
}
.foot1{
    font-size :12px;
    color:#191970;
    padding-left:32%;
    padding-bottom:0.8%;
}
.foot2{
    font-size :12px;
    color:#191970;
    padding-left:29%;
    padding-bottom:0.3%;
}
.foot3{
    font-size :14px;
    color:#191970;
    padding-left:91%;

}
.cer{
   padding-left:43%;
}

